;; -*- mode: scheme; -*-
;; This is an operating system configuration template
;; for a "desktop" setup with GNOME and Xfce where the
;; root partition is encrypted with LUKS, and a swap file.

(use-modules (gnu) (gnu system nss) (guix utils)
             (guix packages))
(use-service-modules desktop sddm spice ssh xorg)
(use-package-modules gnome)

(operating-system
  (host-name "antelope")
  (timezone "Europe/Paris")
  (locale "en_US.utf8")

  ;; Choose US English keyboard layout.  The "altgr-intl"
  ;; variant provides dead keys for accented characters.
  (keyboard-layout (keyboard-layout "us" "dvorak"))

  ;; Use the UEFI variant of GRUB with the EFI System
  ;; Partition mounted on /boot/efi.
  (bootloader (bootloader-configuration
                (bootloader grub-bootloader)
                (targets '("/dev/sda"))
                (keyboard-layout keyboard-layout)))

  ;; Specify a mapped device for the encrypted root partition.
  ;; The UUID is that returned by 'cryptsetup luksUUID'.

  (file-systems (append
                 (list (file-system
                         (device "/dev/sda")
                         (mount-point "/")
                         (type "ext4")))
                 %base-file-systems))

  ;; Specify a swap file for the system, which resides on the
  ;; root file system.
  (swap-devices (list (swap-space
                        (target "/swapfile"))))

  ;; Create user `bob' with `alice' as its initial password.
  (users (cons* (user-account
                  (name "bob")
                  (comment "Alice's brother")
                  (password "")
                  (group "students")
                  (supplementary-groups '("wheel" "netdev"
                                          "audio" "video")))
                (user-account
                  (name "maxim")
                  (comment "Maude's brother")
                  (password "")
                  (group "users")
                  (supplementary-groups '("wheel" "netdev"
                                          "audio" "video")))
                %base-user-accounts))

  ;; Add the `students' group
  (groups (cons* (user-group
                   (name "students"))
                 %base-groups))

  ;; This is where we specify system-wide packages.
  (packages (append (list
                     ;; for user mounts
                     ;; `(,gdm "debug")
                     ;; gdb
                     gvfs)
                    %base-packages))

  ;; Add GNOME and Xfce---we can choose at the log-in screen
  ;; by clicking the gear.  Use the "desktop" services, which
  ;; include the X11 log-in service, networking with
  ;; NetworkManager, and more.
  (services (cons* (service gnome-desktop-service-type)
                   (set-xorg-configuration
                    (xorg-configuration
                      (keyboard-layout keyboard-layout)))
                   (service openssh-service-type
                            (openssh-configuration
                              (permit-root-login #t)
                              (allow-empty-passwords? #t)))
                   (service spice-vdagent-service-type)
                   (modify-services %desktop-services
                     (gdm-service-type config =>
                                       (gdm-configuration
                                         (inherit config)
                                         (debug? #t))))))

  ;; Allow resolution of '.local' host names with mDNS.
  (name-service-switch %mdns-host-lookup-nss))
